.eligibility-connell{
    background-color:#f9f9f9;
    // padding-top: 10px;
    padding-bottom: 30px;
    // max-width: 1120px;
}
.left-eligibility h3{
    margin-top: 57px;
    color: #002060;
    font-size: 36px;
    @include light();
    margin-bottom: 25px;
}
.left-eligibility h3 span{
    @include light();
}
.left-eligibility p{
    font-size: 14px;
    @include regular();
    color: #002060;
    max-width: 566px;
    margin-bottom: 15px;
    text-align: left;
}
.start-now{
    padding: 11px 39px;
    margin-top: 40px;
    color: #002060;
    @include regular();
    font-size: 14px;
    border-color: #002060;
    background-color: transparent;
    border-radius: 0;
}
.start-now:hover{
    color: white!important;
    background-color: #002060!important;
}
.banner-resp{
    position: relative;
}
.eligibility{
    position: absolute;
    top: 82%;
    max-width: 1120px;
    height: 401px;
    padding-bottom: 30px;
}
.four_steps{
    margin-top: 60px;
    margin-left: 72px;
}
.four_steps-two{
    display: flex;
    gap: 60px;
    margin-left: 72px;
}
.yellow-big__line{
    border: 0.2px solid rgba(255, 206, 27, 0.7);
    margin-top: 26px;
    margin-bottom: 26px;
    background-color: #FFCE1B;
    width: 240px;
    margin-left:72px;
}
.elig-lowop-logo{
    height: 333px;
    margin-top: 30px;
    padding-left: 85px;
    margin-right: 22px;
}
@media screen and(max-width:769px) {
    .eligibility{
        top: 85%;
    }
    .left-eligibility{
        padding-left: 143px;
    }
}

@media screen and(max-width:769px) {
    .right-eligibility{
        display: none;
    }
    .eligibility-connell{
        padding-bottom: 50px;
    }
}
@media screen and(max-width:1024px) {
    .left-eligibility {
        padding-right: 73px;
    }
}
@media screen and(max-width:600px) {
    .left-eligibility {
        padding-right: 46px;
        padding-left: 35px;
    }
    .left-eligibility h3{
        font-size: 31px;
    }
    .left-eligibility p{
        max-width: 320px;
    }
    .four__options{
        display: none;
    }
}
@media screen and(max-width:376px) {
    .left-eligibility {
        padding-right: 0px;
        padding-left: 30px;
    }
}
.start-now:hover{
    color: #002060;
    border-color: #002060!important;
}
.four__options{
    margin-left: 0px;
}
.sub-pages__form{
    @include medium();
    font-size: 28px;
    color: white;
    margin-top: 140px;
}